In [2]:
import pandas as pd
import os
data_folder = "../data"

CATS = {
    'Ab_NoEng': {'weight': 0.18, 'mu': 5.009761797, 'sigma': 5.22064938},
    'Ag_Und14': {'weight': 0.0735, 'mu': 14.57531749, 'sigma': 5.848906595},
    'Ag_65p': {'weight': 0.0735, 'mu': 15.63002229, 'sigma': 9.130043942},
    'Gd_SgMomFam': {'weight': 0.18, 'mu': 17.88439733, 'sigma': 10.1538072},
    'Mn_UndLICO': {'weight': 0.033333333, 'mu': 17.4, 'sigma': 10.84839995},
    'Mn_Unemp': {'weight': 0.033333333, 'mu': 5.329693196, 'sigma': 2.426022441},
    'Mn_MajRep': {'weight': 0.033333333, 'mu': 7.061989523, 'sigma': 5.710416918},
    'Mn_UnsuitHous': {'weight': 0.033333333, 'mu': 12.1144187, 'sigma': 10.6076367},
    'Mn_TenRBurd': {'weight': 0.033333333, 'mu': 46.8, 'sigma': 23.66868541},
    'Mn_TenSHous': {'weight': 0.033333333, 'mu': 15.1, 'sigma': 19.03649737},
    'Rc_RecImg': {'weight': 0.0294, 'mu': 6.982666862, 'sigma': 6.257990521},
    'Rc_Indig': {'weight': 0.0294, 'mu': 0.856904555, 'sigma': 1.41359837},
    'Rc_VisMin': {'weight': 0.0294, 'mu': 51.48671919, 'sigma': 26.837466},
    'Rc_Black': {'weight': 0.0294, 'mu': 8.910841431, 'sigma': 11.409264},
    'Rc_Refg': {'weight': 0.0294, 'mu': 8.381768053, 'sigma': 6.658833094},
    'Tr_NoCar': {'weight': 0.048666667, 'mu': 9.43384575, 'sigma': 12.35557764},
    'Tr_NoCarTrip': {'weight': 0.048666667, 'mu': 23.983497, 'sigma': 14.906141},
    'Tr_WorkT60p': {'weight': 0.048666667, 'mu': 16.21271647, 'sigma': 8.349463988}
}

In [23]:
runs = pd.read_csv(os.path.join(data_folder, 'run_reference.csv'))
da_hex_link = pd.read_csv(os.path.join(data_folder, 'census', 'da_hex_link.csv'))
census = pd.read_csv(os.path.join(data_folder, 'census', 'cgy_da_data_clean.csv'))
print(census.columns)
da_hex_link.head()

Index(['dauid', 'cduid', 'pop_2021', 'pop_density', 'area', 'age_total',
       'age_0_14', 'age_65_plus', 'lone_total', 'lang_total', 'lang_french',
       'lang_neither', 'inc_total', 'linc_lim', 'linc_lico', 'minc_total',
       'minc_minc', 'imm_total', 'imm_imm', 'imm_recent', 'ind_total',
       'ind_ind', 'house_total', 'house_30p_shelter', 'tenant_total',
       'tenant_30p_shelter', 'lab_total', 'lab_inforce', 'lab_unemp'],
      dtype='object')

      DAUID    id  fra_da_in_hex
0  48060566  5038          0.093
1  48060566  5039          0.213
2  48060566  5040          0.006
3  48060566  5249          0.001
4  48060566  5250          0.228

In [38]:
hospitals = pd.read_csv(os.path.join(data_folder, 'opportunity', 'hospitals.csv'))
ttm = pd.read_csv(os.path.join(data_folder, 'matrices', '1_2019_03_06.csv'))
ttm.head()

   from_id  to_id  travel_time
0     7573   7573          8.0
1     7573   7574          2.0
2     7573   7575          7.0
3     7573   7568         29.0
4     7573   7569         30.0

In [50]:
# Get hospitals at destinations
df = pd.merge(ttm, hospitals, left_on='to_id', right_on='id')
df = df[df.hospitals > 0]
df.travel_time = df.travel_time.fillna(121)

In [51]:
nearest_hospital = df[['from_id', 'travel_time']].groupby('from_id', as_index=False).min()
nearest_hospital.to_csv(os.path.join(data_folder, 'results', 'nearest_hospital.csv'), index=False)